.bruto{
    margin: 0 auto  ;
    margin-top: 161px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    
   
    &-top{
        margin-left: 80px;
        width: 70%;
        h2{
            font-size: 64px;
            font-weight: 700;
            line-height: 72px;
            color: #333;
            width: 889px;
            text-transform: uppercase;
        }
    }
    &-imagebar{
        height: 1120px;
        display: flex;
        margin-top: 80px;
        &-text{
            font-size: 20px;
            font-weight: 400;
        }
        &-item_left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 440px;
            div {
                width: 120px;
                height: 120px;
                border-radius:50%;
                background:#0567FA ;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 80px 80px 70px 80px;
                
            }
            &-img{
                width: 100%;
                height: 670px;
                padding: 5px;
                border-radius: 16px;
            }
            
        }
        &-item_right{
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            
            &-img{
                width: 100%;
                height: 440px;
                padding: 5px;
                
                border-radius: 16px;
            }
            &-img2{
                width: 500px;
                height: 670px;
                padding: 5px;
                border-radius: 16px;
            }
            &-text{
                width: 325px;
                padding: 5px;
                font-size: 20px;
                font-weight: 400;
                height: 48px;
            }
            &-img3{
                width: 490px;
                height: 440px;
                margin-top: 180px;
                padding: 5px;
                border-radius: 16px;
                padding-right: 0px;
            }
        }
    }
}