@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PP FORMULA';
    font-style: normal;
    font-weight: 700;
    src: url('../../../public/assets/PPFormula-CondensedBlack.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


.hero-container{
    width: 98% !important;
    height: 660px;
    background: #0567FA;
    border-radius:20px;
    position: relative;
    margin-top: 50px;

}
.hero-top-title{
    font-size: 96px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    padding-top: 60px;
    line-height: 96px;
}
.hero-bottom{
    display: flex;
    justify-content: space-between;
    // height: 500px;
    width: 95%;
    align-items: end;
   
    top: 140px;
    img{
        right: 30px;
    }

}
.qanaqadir{
    width: 182px;
    height: 46px;
    font-size: 18px;
    background-color: #111;
    color: #fff;
   
    margin-bottom: 50px;
    margin-left: 35px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bdb{
    width: 90%;
    margin: 0 auto;
    display: none;
}
