@media (min-width:1300px){
    .container{
        width: 1480px !important;
    }
}

@media(max-width:1240px){
    .container{
        width: 96% !important;
    }
   header{
    .nav-linkbar{
        width: 50% !important;
        padding: 0;
        gap: 5px;
        justify-content: space-between !important;
        
       }
       .nav-linkbar-link{
        font-size: 14px !important;
       }
       .nav-contact-button_pg{
        margin: 0 !important;
       }
       .contact-btn{
        margin: 0;
       }
   }
   .hero{
    .hero-container{
        width: 90% !important;
        
    }
    &-top{
        &-title{
            margin-left: 10px;
            padding-top: 40px;
            font-size: 64px !important;
            line-height: 68px !important;
        }
    }
    &-bottom{
       
    }
   }
   .layout{
    .layout-left > img{
        width: 480px !important;
    }
    
    .layout-right{
     width: 450px !important;
    }
    .layout-right >h3{
     font-size: 40px ;
    }
   }
   .servis{
    .service-top{
        margin-left: 70px !important;
    }
    .service-top h3{
       font-size: 55px;
    }
    
  }
  .shop{
    &-top{
        margin-left: 100px  !important;
        h2{
            font-size: 45px  !important;
            width: 90%  !important;
            margin: 0 auto  ;
        }
    }
  }
  .props-card{
    width: 430px !important;
  }
  .props-card-imgbox{
    width: 100% !important;
  }
}

@media (max-width:1040px){
    .container{
        width: 100% !important;
    }
  header{
    .nav-linkbar{
        width: 50% !important;
        padding: 0 !important;
        gap: 5px;
        justify-content: space-between !important;
        
       }
      
       .contact-btn{
        width: 167px !important;
        height: 36px !important;
        font-size: 15px !important;
        margin: 0 !important;
       }
       .nav--logo{
        padding-right: 20px !important;
       }
  }

  .hero{
    .hero-container{
        width: 90% !important;
        height: 573px;
        
    }
    &-top{
        &-title{
            margin-left: 10px;
            padding-top: 40px;
            font-size: 64px !important;
            line-height: 68px !important;
        }
    }
    &-bottom{
        justify-content: center;
       img{
        width: 500px;
        
       }
       a{
        margin-top: 280px;
       }
    }
   }
   .layout{
    .layout-left > img{
        width: 400px !important;
    }
    
    .layout-right{
     width: 450px !important;
     .layout-imgbar {
        img{
            width: 100px !important;
            height: 100px !important;        
        }
        img:nth-child(2) {
            left: 70px;
        }
        img:nth-child(3) {
            left: 140px;
        }
    }
    }
    .layout-right >h3{
     font-size: 40px ;
    }
   }
   .servis{
    .service-top{
        margin-left: 0px !important;
        width: 100%;
    }
    .service-top h3{
       font-size: 54px;
        
    }
    
  }
  .shop{
      .shop-top{margin-left: 50px ;}
    &-top >h2{
        font-size: 40px;
    }
  }
  .shop-bottom{
    justify-content: center !important;
    .cart{
        width: 80%;
        
        img{
            width: 100%;
        }
    }
  }

  .props-card{
    width:80% !important;
  }
  .contact-left-top{
    h3{
        font-size: 38px !important;
    }
  }
 
}

@media (max-width:899px){
   header{
    .nav-res{
        width: 100% !important;
        position: fixed;
        background:#111;
        width: 100%;height:100vh;
        top:80px;
        left:0;
       
        /* display: none !important; */
       }
       .contact-btn{
        display: none;
       }
    
       .button_resp{
        display: block !important;
       }
       .nav-linkbar{
        display: none !important;
        
       }
   }
   .hero{
    padding-top: 50px;
    .hero-container{
        width: 90% !important;
        height: 540px;
        
    }
    &-top{
        &-title{
            margin-left: 10px;
            padding-top: 40px;
            font-size: 52px !important;
            line-height: 68px !important;
        }
    }
    &-bottom{
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center !important;

    img{
       width: 370px;
       height: 250px;
    }
   .qanaqadir{
       margin-top: 0px;
       width: 95%;
   }
   }
   }
   .layout{
    .layout-container{
     display: block !important;
     text-align: center;
     width: 100% !important;
    }
    .layout-left{
        width: 100% !important;
        .left-images{
            width: 100% !important;
        }
    }
    .layout-right{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            text-align: start;
            font-size: 45px  ;
            line-height: 50px !important;
            margin-top: 30px;
        }
        .layout-imgbar{
            margin: 0 !important;
            
        }
        .layout-right-box {
            display: none !important;
        }
    }
    .layout-right-icon{
        display: none !important;
    }
   }
   .servis {
    .service-top h3{
        font-size: 45px;
        font-weight: 400px;
        line-height: 60px;
    }
   }
   
.service_box{
    display: flex  !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
}
.contact-left-top{
    h3{
        font-size: 32px !important;
    }
  }
}
@media (max-width:786px){
    .hero-container{
        width: 80% !important;
    }
    
    .layout-titl{
        font-size: 25px !important ;
     }
    .servis{
        .servis-titl{
            font-size: 40px ;
            font-weight: 500;
         }
    }
    .hero{

        .hero-top-title{
          padding-top:50px ;
          margin-left: 5px;
            font-size: 45px ;
            line-height: 50px !important;
        }
    }
    .sliderr{
        font-size: 15px !important;
        font-weight: 500 !important;
        font-family: "Poppins", sans-serif;
    }
    
    .slick-card{
        padding: 0 !important;
    }
    .contact-cont{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        .contact-left{
            width: 100%;
        }
    }
    .contact-right{
        width: 100% !important;
    }
    .shop-top{
        width: 100%;
        margin: 0 !important;
       

    }
    .shop-title{
        font-size: 40px;
        text-align: center;
    }
 }
 @media (max-width:500px){
    .props-card{
        width:100% !important ;
    }
    .hero-top-title{
        font-size: 38px !important;
    }
    .layout-titl{
        font-size: 30px !important;
    }
    .servis-titl{
        font-size: 30px !important;
    }
    .shop-title{
        text-align: start;
        
    }
    .shop-top{
        h2{
            font-size: 35px !important;
            text-align: start;
            width: 80% !important;
        }
    }
    .hero{

        .hero-container{
            width: 85% !important;
        }
        .hero-bottom{
            img{
                width: 330px !important;
                height: 230px;
            }
        }
    }
    .slider-card{
        width: 100% !important;
    }
    .cart{
        width: 100% !important;
        img{
            width: 100% !important;
        }
    }
    .cart_button{
        width: 83% !important;
    }
    .contact-left-top{
        h3{
            font-size: 25px !important;
        }
    
    }
    .cart_body{
        border: none !important;
        p{
            padding: 0 !important;
        }
    }
    .contact-left{
        height: 500px !important;
    }
 }
 

 @media (max-width:450px){
    .nav-language-pg{
        margin: 0 !important;
    }
    .props-card{
        width:100% !important ;
        .props-card-titlebox> h4{
            font-size: 23px !important;
        }
    }
    .hero-top-title{
        font-size: 30px !important;
    }
    .hero-bottom{
        img{
            width: 280px !important;
        }
    }
    .layout-titl{
        font-size: 23px !important;
        line-height: 30px !important;
    }
    .servis-titl{
        font-size: 23px !important;
        line-height: 30px !important;
    }
    
    .shop-top{
        .shop-title{
            font-size: 23px !important;
            line-height: 40px !important;
        }
        h2{
            font-size: 35px !important;
            text-align: start;
            width: 80% !important;
        }
    }
    .hero{

        .hero-container{
            width: 85% !important;
        }
        .hero-bottom{
            img{
                width: 330px !important;
                height: 230px;
            }
        }
    }
    .slider-card{
        width: 100% !important;
    }
    
    .cart_button{
        width: 83% !important;
    }
    .contact-left-top{
        h3{
            font-size: 25px !important;
        }
    
    }
    .contact-left{
        height: 500px !important;
    }
 }