.slick-list{
    
    width: 95% !important;
    height: 60px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 120px auto 0;

    
       .sliderr{
        width: 80px !important;
       
        height: 60px;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-family: 'PP FORMULA';
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 4px;
        color: #fff;
        margin-top: 10px;
        margin-left: 40px !important;
        
    }
    
}
.slider-card{
    width: 100% !important;
    background: #0567FA;

    
}

